@model _23DH113573_MyStore.Models.ViewModel.LoginVM
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div>
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <h2 class="col-md-6" style="text-align:center;">Đăng nhập</h2>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Username, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Username)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <input type="submit" value="Đăng nhập" class="btn btn-info accountbtn" /><br />
                <p>Bạn chưa có tài khoản ? <a href="@Url.Action("Register", "Account")">đăng ký ngay</a></p>
            </div>
        </div>
    }


