@model _23DH113573_MyStore.Models.ViewModel.RegisterVM
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div>
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <h2 class="col-md-6" style="text-align:center;">Đăng ký</h2>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Username, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(m => m.Username, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.CustomerName, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(m => m.CustomerName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CustomerName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.CustomerPhone, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(m => m.CustomerPhone, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CustomerPhone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.CustomerEmail, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(m => m.CustomerEmail, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CustomerEmail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.CustomerAddress, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(m => m.CustomerAddress, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CustomerAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <button type="submit" class="btn btn-primary">Đăng ký</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <p>Bạn đã có tài khoản? <a href="@Url.Action("Login", "Account")">Đăng nhập ngay</a></p>
            </div>
        </div>
    }
</div>



