@model _23DH113573_MyStore.Models.ViewModel.HomeProductVM
@using PagedList.Mvc;
<link rel="stylesheet" type="text/css" href="~/Content/Mystyle/CustomHome.css" />
@if (Model.NewProducts != null && Model.NewProducts.Any())
{

    <section class="container-fluid ListProduct">
        <h2>Sản Phẩm Mới </h2>
        <div class="list-container">
            @foreach (var product in Model.NewProducts)
            {
                <div class="lproduct-item">
                    <div>
                        <a href="@Url.Action("ProductDetail", "Home", new { id = product.ProductID })">
                            <img src="@Html.DisplayFor(modelItem => product.ProductImage)" />

                        </a>
                    </div>
                    <div>
                        <p class="prodPrice">
                            @Html.DisplayFor(modelItem => product.ProductPrice)
                        </p>
                        <p class="prodName">
                            @Html.DisplayFor(modelItem => product.ProductName)
                        </p>
                        
                        <p class="prodSale">
                            Đã bán:&nbsp;@Html.DisplayFor(modelItem => product.OrderDetails.Count)
                        </p>

                    </div>
                </div>

            }
        </div>
    </section>
    <!--Phân trang-->
    <div class="pagination-container">
        @Html.PagedListPager(Model.NewProducts, page => Url.Action("Mystorehome", new { page, searchTerm = Model.SearchTerm }))
    </div>
}
else
{
    <p>Không tìm được sản phầm nào phù hợp </p>
}